<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade:</b>
  <%= @restaurante.especialidade %>
</p>


<%= comentarios @restaurante %>

<%= novo_comentario @restaurante %>


<b>Nota média: </b><%= @restaurante.qualificacoes.average(:nota) %><br/>
<b>Qualificações: </b><%= @restaurante.qualificacoes.count %><br/>
<b>Preço médio: </b><%= @restaurante.qualificacoes.average(:valor_gasto) %><br/><br/>

<%= link_to "Qualificar este restaurante", :controller => "qualificacoes",
                                           :action => "new",
                                           :restaurante => @restaurante %>


<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
